@mixin aside_nav_div() {
  color: $font-white;
  height: 45px;
  margin-top: 30px;
  margin-left: 60px;
  cursor: pointer;
}

@mixin aside_nav_div_text() {
  font-weight: $aside-font-weight;
  padding-left: 10px;
}

@mixin main_header($background-color) {
  margin-top: 20px;
  height: 100px;
  width: 500px;
  background-color: #FF9A2A;
}

@mixin main_header_div_text() {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

@mixin main_header_div_number() {
  text-align: right;
  margin-bottom: -10px;
  margin-right: 15px;
  font-size: 48px;
  color: white;
}

@mixin statistics_item() {
  text-align: center;
  width: 112px;
  height: 50px;
  margin-top: 10px;
  font-size: 12px;
}

@mixin main_nav_text_style() {
  width: 33%;
  border-right: solid lightgrey;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

@mixin main_section() {
  display: flex;
  height: 100px;
  width: 85%;
  margin-bottom: 20px;
  background-color: white;
}

@mixin section_img() {
  padding-left: 35px;
  padding-top: 10px;
}

@mixin section_detail() {
  width: 100%;
  margin-left: 40px;
}

@mixin detail_top() {
  margin-top: 15px;
}

@mixin detail_url() {
  color: deepskyblue;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
}

@mixin detail_status($background:#FF9A2A) {
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
  background-color: $background;
}

@mixin detail_message() {
  float: right;
  margin-right: 110px;
}

@mixin exclamation() {
  margin-top: 10px;
  padding-left: 40px;
}

@mixin detail_ip() {
  margin-left: 20px;
  margin-right: 20px;
}

@mixin detail_address() {
  margin-left: 5px;
}

@mixin detail_bottom() {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
}

@mixin browser_icon() {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: $primary-gray;
}

@mixin deny_button() {
  position: absolute;
  right: 250px;
  margin-top: 15px;
  height: 30px;
  width: 100px;
  padding-top: 8px;
  padding-left: 40px;
  color: white;
  font-size: 14px;
  background-color: #00B4CF;
  cursor: pointer;
}
