html {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #E1E4E6;
  height: 90%;
  font-size: 14px;
}

html {
  background-color: #F3F3F3;
}

header {
  display: flex;
  width: 100%;
  background-color: white;
  border: solid 2px lightgray;
  border-bottom: none;
}
header .head_nav {
  margin-top: 30px;
  margin-left: 20px;
}
header .web_head {
  margin-left: 250px;
}
header .cruise_image {
  margin-left: -160px;
}
header .user_login {
  display: flex;
  margin-right: 100px;
}
header .user_img {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

aside {
  display: none;
}

main {
  display: flex;
}
main .main_content {
  height: 100%;
  width: 100%;
  border: solid 2px lightgray;
}
main .main_content .main_header {
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}
main .main_content .main_header .header_status {
  display: flex;
  width: 100%;
}
main .main_content .main_header .building {
  margin-top: 15px;
  height: 100px;
  width: 500px;
  background-color: #FF9A2A;
}
main .main_content .main_header .building .text_building {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
main .main_content .main_header .building .number_building {
  text-align: right;
  margin-bottom: -10px;
  margin-right: 15px;
  font-size: 48px;
  color: white;
}
main .main_content .main_header .idle {
  margin-left: 10px;
  margin-top: 15px;
  height: 100px;
  width: 500px;
  background-color: #7FBC39;
}
main .main_content .main_header .idle .text_idle {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
main .main_content .main_header .idle .number_idle {
  text-align: right;
  margin-bottom: -10px;
  margin-right: 15px;
  font-size: 48px;
  color: white;
}
main .main_content .statistics {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color: white;
}
main .main_content .statistics .statistics_text {
  display: flex;
}
main .main_content .statistics .statistics_text .text_all {
  width: 110px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
main .main_content .statistics .statistics_text .text_physical {
  width: 110px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
main .main_content .statistics .statistics_text .text_virtual {
  width: 110px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
main .main_content .statistics .statistics_figure {
  display: flex;
}
main .main_content .statistics .statistics_figure .figure_all {
  width: 110px;
  height: 110px;
  font-size: 24px;
  text-align: center;
}
main .main_content .statistics .statistics_figure .figure_physical {
  width: 110px;
  height: 30px;
  font-size: 24px;
  text-align: center;
}
main .main_content .statistics .statistics_figure .figure_virtual {
  width: 110px;
  height: 30px;
  font-size: 24px;
  text-align: center;
}
main .main_content .main_nav {
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
main .main_content .main_nav .main_nav_text {
  display: flex;
  width: 100%;
}
main .main_content .main_nav .main_nav_text .all {
  width: 33%;
  border-right: solid lightgrey;
  text-align: center;
  line-height: 50px;
}
main .main_content .main_nav .main_nav_text .physical {
  width: 33%;
  border-right: solid lightgrey;
  text-align: center;
  line-height: 50px;
}
main .main_content .main_nav .main_nav_text .virtual {
  width: 33%;
  border-right: solid lightgrey;
  text-align: center;
  line-height: 50px;
}
main .main_content .main_nav .search {
  width: 100%;
  height: 20px;
}
main .main_content .main_nav .search input {
  position: absolute;
  margin-top: 15px;
  margin-left: -13px;
  padding-left: 15px;
  width: 343px;
  height: 25px;
  background: #F3F3F3;
  outline: none;
  border: none;
}
main .main_content .main_nav .search i {
  position: relative;
  left: 20px;
  top: 18px;
  z-index: 10;
  color: gray;
}
main .main_content .main_nav .main_button {
  display: none;
}

.main_section {
  font-size: 18px;
}
.main_section .main_section1 {
  display: flex;
  height: 170px;
  margin: 50px 10px 20px;
  background-color: white;
}
.main_section .main_section1 .section1_img {
  display: none;
}
.main_section .main_section1 .section1_detail {
  width: 100%;
  margin-left: 10px;
}
.main_section .main_section1 .section1_detail .detail1-url {
  height: 20px;
  margin-top: 10px;
}
.main_section .main_section1 .section1_detail .detail1-url .url1-text {
  color: deepskyblue;
  margin-left: 2px;
}
.main_section .main_section1 .section1_detail .detail1-status {
  display: none;
}
.main_section .main_section1 .section1_detail .detail1-ip {
  height: 20px;
  margin-top: 10px;
}
.main_section .main_section1 .section1_detail .detail1-location {
  height: 20px;
  margin-top: 10px;
}
.main_section .main_section1 .section1_detail .detail1-bottom {
  display: flex;
  margin-top: 10px;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-browser {
  margin-left: 10px;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line1 .firefox1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line1 .safari1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line2 {
  margin-top: 10px;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line2 .ubuntu1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line2 .chrome1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 {
  display: flex;
  height: 215px;
  margin: -10px 10px 20px;
  background-color: white;
}
.main_section .main-section2 .section2-img {
  display: none;
}
.main_section .main-section2 .section2-detail {
  width: 100%;
  margin-left: 10px;
}
.main_section .main-section2 .section2-detail .detail2-url {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section2 .section2-detail .detail2-url .url2-text {
  color: deepskyblue;
  margin-left: 2px;
}
.main_section .main-section2 .section2-detail .detail2-status {
  display: none;
}
.main_section .main-section2 .section2-detail .detail2-ip {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section2 .section2-detail .detail2-location {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section2 .section2-detail .detail2-bottom {
  display: flex;
  margin-top: 10px;
}
.main_section .main-section2 .section2-detail .detail2-bottom .detail2-browser {
  margin-left: 10px;
}
.main_section .main-section2 .section2-detail .detail2-bottom .detail2-line1 .firefox2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .detail2-bottom .detail2-line1 .safari2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .detail2-bottom .detail2-line2 {
  margin-top: 10px;
}
.main_section .main-section2 .section2-detail .detail2-bottom .detail2-line2 .ubuntu2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .detail2-bottom .detail2-line2 .chrome2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .deny2 {
  float: right;
  color: white;
  font-size: 16px;
  background-color: #00B4CF;
  padding: 5px 30px;
  margin-top: 15px;
  margin-right: 20px;
}
.main_section .main-section3 {
  display: flex;
  height: 180px;
  margin: -10px 10px 20px;
  background-color: white;
}
.main_section .main-section3 .section3-img {
  display: none;
}
.main_section .main-section3 .section3-detail {
  width: 100%;
  margin-left: 10px;
}
.main_section .main-section3 .section3-detail .detail3-url {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section3 .section3-detail .detail3-url .url3-text {
  color: deepskyblue;
  margin-left: 2px;
}
.main_section .main-section3 .section3-detail .detail3-status {
  display: none;
}
.main_section .main-section3 .section3-detail .detail3-ip {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section3 .section3-detail .detail3-location {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section3 .section3-detail .detail3-bottom {
  display: flex;
  margin-top: 10px;
}
.main_section .main-section3 .section3-detail .detail3-bottom .detail3-browser {
  margin-left: 10px;
}
.main_section .main-section3 .section3-detail .detail3-bottom .detail3-line1 .firefox3 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section3 .section3-detail .detail3-bottom .detail3-line1 .safari3 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section3 .section3-detail .deny3 {
  float: right;
  color: white;
  font-size: 16px;
  background-color: #00B4CF;
  padding: 5px 30px;
  margin-top: 15px;
  margin-right: 20px;
}
.main_section .main-section4 {
  display: flex;
  height: 180px;
  margin: -10px 10px 20px;
  background-color: white;
}
.main_section .main-section4 .section4-img {
  display: none;
}
.main_section .main-section4 .section4-detail {
  width: 100%;
  margin-left: 10px;
}
.main_section .main-section4 .section4-detail .detail4-url {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section4 .section4-detail .detail4-url .url4-text {
  color: deepskyblue;
  margin-left: 2px;
}
.main_section .main-section4 .section4-detail .detail4-status {
  display: none;
}
.main_section .main-section4 .section4-detail .detail4-ip {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section4 .section4-detail .detail4-location {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section4 .section4-detail .detail4-bottom {
  display: flex;
  margin-top: 10px;
}
.main_section .main-section4 .section4-detail .detail4-bottom .detail4-browser {
  margin-left: 10px;
}
.main_section .main-section4 .section4-detail .detail4-bottom .detail4-line1 .firefox4 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section4 .section4-detail .detail4-bottom .detail4-line1 .safari4 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section4 .section4-detail .deny4 {
  float: right;
  color: white;
  font-size: 16px;
  background-color: #00B4CF;
  padding: 5px 30px;
  margin-top: 15px;
  margin-right: 20px;
}
.main_section .main-section5 {
  display: flex;
  height: 170px;
  margin: -10px 10px 20px;
  background-color: white;
}
.main_section .main-section5 .section5-img {
  display: none;
}
.main_section .main-section5 .section5-detail {
  width: 100%;
  margin-left: 10px;
}
.main_section .main-section5 .section5-detail .detail5-url {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section5 .section5-detail .detail5-url .url5-text {
  color: deepskyblue;
  margin-left: 2px;
}
.main_section .main-section5 .section5-detail .detail5-status {
  display: none;
}
.main_section .main-section5 .section5-detail .detail5-ip {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section5 .section5-detail .detail5-location {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section5 .section5-detail .detail5-bottom {
  display: flex;
  margin-top: 10px;
}
.main_section .main-section5 .section5-detail .detail5-bottom .detail5-browser {
  margin-left: 10px;
}
.main_section .main-section5 .section5-detail .deny5 {
  float: right;
  color: white;
  font-size: 16px;
  background-color: #00B4CF;
  padding: 5px 30px;
  margin-top: 15px;
  margin-right: 20px;
}
.main_section .main-section6 {
  display: flex;
  height: 170px;
  margin: -10px 10px 20px;
  background-color: white;
}
.main_section .main-section6 .section6-img {
  display: none;
}
.main_section .main-section6 .section6-detail {
  width: 100%;
  margin-left: 10px;
}
.main_section .main-section6 .section6-detail .detail6-url {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section6 .section6-detail .detail6-url .url6-text {
  color: deepskyblue;
  margin-left: 2px;
}
.main_section .main-section6 .section6-detail .detail6-status {
  display: none;
}
.main_section .main-section6 .section6-detail .detail6-ip {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section6 .section6-detail .detail6-location {
  height: 20px;
  margin-top: 10px;
}
.main_section .main-section6 .section6-detail .detail6-bottom {
  display: flex;
  margin-top: 10px;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-browser {
  margin-left: 10px;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line1 .firefox6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line1 .safari6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line2 {
  margin-top: 10px;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line2 .ubuntu6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line2 .chrome6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section6 .section6-detail .deny6 {
  float: right;
  color: white;
  font-size: 16px;
  background-color: #00B4CF;
  padding: 5px 30px;
  margin-top: 15px;
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
}

/*# sourceMappingURL=mobile-index.css.map */
