html {
  height: 100%;
}

body {
  background-color: #E1E4E6;
  height: 90%;
  font-size: 14px;
}

header {
  display: flex;
  background-color: #F3F3F3;
}
header .web-head {
  margin-left: 650px;
}
header .cruise-image {
  margin-left: 140px;
}
header .user-login {
  margin-top: 20px;
  margin-left: 100px;
}
header .user-img {
  margin-left: 470px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #2D4054;
  margin-left: 200px;
  height: 100%;
  width: 25%;
}
aside nav {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
aside nav .DASHBOARD {
  color: white;
  height: 45px;
  margin-top: 30px;
  margin-left: 60px;
}
aside nav .DASHBOARD .text-dashboard {
  font-weight: lighter;
  padding-left: 10px;
}
aside nav .AGENT {
  color: white;
  height: 45px;
  margin-top: 30px;
  margin-left: 60px;
}
aside nav .AGENT .text-agent {
  font-weight: lighter;
  padding-left: 10px;
}
aside nav .MY-CRUISE {
  color: white;
  height: 45px;
  margin-top: 30px;
  margin-left: 60px;
}
aside nav .MY-CRUISE .text-mycruise {
  font-weight: lighter;
  padding-left: 10px;
}
aside nav .HELP {
  color: white;
  height: 45px;
  margin-top: 30px;
  margin-left: 60px;
}
aside nav .HELP .text-help {
  font-weight: lighter;
  padding-left: 10px;
}
aside .history {
  font-size: 24px;
  color: #ccc;
  margin-top: 350px;
  margin-left: 10px;
}
aside .history-detail {
  margin-left: -10px;
  line-height: 25px;
  font-size: 12px;
  color: #999;
}

main {
  display: flex;
}

.main-content {
  margin-left: 25px;
  width: 70%;
}

.main-header {
  display: flex;
  width: 85%;
  height: 140px;
}
.main-header .building {
  margin-top: 20px;
  height: 100px;
  width: 500px;
  background-color: #FF9A2A;
}
.main-header .text-building {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.main-header .number-building {
  text-align: right;
  margin-bottom: -10px;
  margin-right: 15px;
  font-size: 48px;
  color: white;
}
.main-header .idle {
  margin-left: 25px;
  margin-top: 20px;
  height: 100px;
  width: 500px;
  background-color: #7FBC39;
}
.main-header .text-idle {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.main-header .number-idle {
  text-align: right;
  margin-bottom: -10px;
  margin-right: 15px;
  font-size: 48px;
  color: white;
}
.main-header .statistics-grid {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 100px 100px 100px;
  margin-left: 25px;
  margin-top: 20px;
  height: 100px;
  width: 500px;
  background-color: white;
  text-align: center;
  align-items: center;
}
.main-header .statistics-grid .text-all {
  font-size: 12px;
}
.main-header .statistics-grid .text-physical {
  font-size: 12px;
}
.main-header .statistics-grid .text-virtual {
  font-size: 12px;
}
.main-header .statistics-grid .figure-left1 {
  font-size: 20px;
}
.main-header .statistics-grid .figure-left2 {
  font-size: 20px;
}
.main-header .statistics-grid .figure-left3 {
  font-size: 20px;
}

/*# sourceMappingURL=index.css.map */
