@import "variables";
@import "reboot";
@import "mixin";

html {
  background-color: #F3F3F3;
}

header {
  display: flex;
  width: 100%;
  background-color: white;
  border: solid 2px lightgray;
  border-bottom: none;

  .head-nav {
    margin-top: 30px;
    margin-left: 20px;

  }

  .web-head {
    margin-left: 250px;
  }

  .cruise-image {
    margin-left: -160px;
  }

  .user-login {
    display: flex;
    margin-right: 100px;
  }

  .user-img {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

aside {
  display: none;
}

main {
  display: flex;

  .main-content {
    height: 100%;
    width: 100%;
    border: solid 2px lightgray;

    .main-header {
      height: 250px;
      margin-left: 10px;
      margin-right: 10px;

      .header-status {
        display: flex;
        width: 100%;
      }

      .building {
        margin-top: 15px;
        height: 100px;
        width: 500px;
        background-color: #FF9A2A;

        .text-building {
          @include main-header-div-text
        }

        .number-building {
          @include main-header-div-number
        }
      }

      .idle {
        margin-left: 10px;
        margin-top: 15px;
        height: 100px;
        width: 500px;
        background-color: #7FBC39;

        .text-idle {
          @include main-header-div-text
        }

        .number-idle {
          @include main-header-div-number
        }
      }
    }

    .statistics {
      margin-top: 15px;
      width: 100%;
      height: 100px;
      background-color: white;

      .statistics-text {
        display: flex;

        .text-all {
          width: 110px;
          height: 30px;
          font-size: 14px;
          text-align: center;
          margin-top: 20px;
        }

        .text-physical {
          width: 110px;
          height: 30px;
          font-size: 14px;
          text-align: center;
          margin-top: 20px;
        }

        .text-virtual {
          width: 110px;
          height: 30px;
          font-size: 14px;
          text-align: center;
          margin-top: 20px;
        }
      }

      .statistics-figure {
        display: flex;

        .figure-all {
          width: 110px;
          height: 110px;
          font-size: 24px;
          text-align: center;
        }

        .figure-physical {
          width: 110px;
          height: 30px;
          font-size: 24px;
          text-align: center;
        }

        .figure-virtual {
          width: 110px;
          height: 30px;
          font-size: 24px;
          text-align: center;
        }
      }
    }

    .main-nav {
      height: 50px;
      margin-bottom: 20px;
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;


      .main-nav-text {
        display: flex;
        width: 100%;

        .all {
          width: 33%;
          border-right: solid lightgrey;
          text-align: center;
          line-height: 50px;
        }

        .physical {
          width: 33%;
          border-right: solid lightgrey;
          text-align: center;
          line-height: 50px;
        }

        .virtual {
          width: 33%;
          border-right: solid lightgrey;
          text-align: center;
          line-height: 50px;
        }
      }

      .search {
        width: 100%;
        height: 20px;
      }

      .search input {
        position: absolute;
        margin-top: 15px;
        margin-left: -13px;
        padding-left: 15px;
        width: 343px;
        height: 25px;
        background: $lighter-gray;
        outline: none;
        border: none;
      }

      .search i {
        position: relative;
        left: 20px;
        top: 18px;
        z-index: 10;
        color: gray;
      }


      .main-button {
        display: none;
      }
    }
  }
}

.main-section {
  font-size: 18px;

  .main-section1 {
    display: flex;
    height: 170px;
    margin: 50px 10px 20px;
    background-color: white;

    .section1-img {
      display: none;
    }

    .section1-detail {
      width: 100%;
      margin-left: 10px;

      .detail1-url {
        height: 20px;
        margin-top: 10px;

        .url1-text {
          color: deepskyblue;
          margin-left: 2px;
        }
      }

      .detail1-status {
        display: none;
      }

      .detail1-ip {
        height: 20px;
        margin-top: 10px;
      }

      .detail1-location {
        height: 20px;
        margin-top: 10px;
      }

      .detail1-bottom {
        display: flex;
        margin-top: 10px;

        .detail1-browser {
          margin-left: 10px;
        }

        .detail1-line1 {

          .firefox1 {
            @include browser-icon;
          }

          .safari1 {
            @include browser-icon;
          }
        }

        .detail1-line2 {
          margin-top: 10px;

          .ubuntu1 {
            @include browser-icon
          }

          .chrome1 {
            @include browser-icon
          }
        }
      }
    }
  }

  .main-section2 {
    display: flex;
    height: 215px;
    margin: -10px 10px 20px;
    background-color: white;

    .section2-img {
      display: none;
    }

    .section2-detail {
      width: 100%;
      margin-left: 10px;

      .detail2-url {
        height: 20px;
        margin-top: 10px;

        .url2-text {
          color: deepskyblue;
          margin-left: 2px;
        }
      }

      .detail2-status {
        display: none;
      }

      .detail2-ip {
        height: 20px;
        margin-top: 10px;
      }

      .detail2-location {
        height: 20px;
        margin-top: 10px;
      }

      .detail2-bottom {
        display: flex;
        margin-top: 10px;

        .detail2-browser {
          margin-left: 10px;
        }

        .detail2-line1 {

          .firefox2 {
            @include browser-icon
          }

          .safari2 {
            @include browser-icon
          }
        }

        .detail2-line2 {
          margin-top: 10px;

          .ubuntu2 {
            @include browser-icon
          }

          .chrome2 {
            @include browser-icon
          }
        }
      }
      .deny2 {
        float: right;
        color: white;
        font-size: 16px;
        background-color: #00B4CF;
        padding: 5px 30px;
        margin-top: 15px;
        margin-right: 20px;
      }
    }
  }

  .main-section3 {
    display: flex;
    height: 180px;
    margin: -10px 10px 20px;
    background-color: white;

    .section3-img {
      display: none;
    }

    .section3-detail {
      width: 100%;
      margin-left: 10px;

      .detail3-url {
        height: 20px;
        margin-top: 10px;

        .url3-text {
          color: deepskyblue;
          margin-left: 2px;
        }
      }

      .detail3-status {
        display: none;
      }

      .detail3-ip {
        height: 20px;
        margin-top: 10px;
      }

      .detail3-location {
        height: 20px;
        margin-top: 10px;
      }

      .detail3-bottom {
        display: flex;
        margin-top: 10px;

        .detail3-browser {
          margin-left: 10px;
        }

        .detail3-line1 {

          .firefox3 {
            @include browser-icon
          }

          .safari3 {
            @include browser-icon
          }
        }
      }
      .deny3 {
        float: right;
        color: white;
        font-size: 16px;
        background-color: #00B4CF;
        padding: 5px 30px;
        margin-top: 15px;
        margin-right: 20px;
      }
    }
  }

  .main-section4 {
    display: flex;
    height: 180px;
    margin: -10px 10px 20px;
    background-color: white;

    .section4-img {
      display: none;
    }

    .section4-detail {
      width: 100%;
      margin-left: 10px;

      .detail4-url {
        height: 20px;
        margin-top: 10px;

        .url4-text {
          color: deepskyblue;
          margin-left: 2px;
        }
      }

      .detail4-status {
        display: none;
      }

      .detail4-ip {
        height: 20px;
        margin-top: 10px;
      }

      .detail4-location {
        height: 20px;
        margin-top: 10px;
      }

      .detail4-bottom {
        display: flex;
        margin-top: 10px;

        .detail4-browser {
          margin-left: 10px;
        }

        .detail4-line1 {

          .firefox4 {
            @include browser-icon
          }

          .safari4 {
            @include browser-icon
          }
        }
      }
      .deny4 {
        float: right;
        color: white;
        font-size: 16px;
        background-color: #00B4CF;
        padding: 5px 30px;
        margin-top: 15px;
        margin-right: 20px;
      }
    }
  }

  .main-section5 {
    display: flex;
    height: 170px;
    margin: -10px 10px 20px;
    background-color: white;

    .section5-img {
      display: none;
    }

    .section5-detail {
      width: 100%;
      margin-left: 10px;

      .detail5-url {
        height: 20px;
        margin-top: 10px;

        .url5-text {
          color: deepskyblue;
          margin-left: 2px;
        }
      }

      .detail5-status {
        display: none;
      }

      .detail5-ip {
        height: 20px;
        margin-top: 10px;
      }

      .detail5-location {
        height: 20px;
        margin-top: 10px;
      }

      .detail5-bottom {
        display: flex;
        margin-top: 10px;

        .detail5-browser {
          margin-left: 10px;
        }
      }

      .deny5 {
        float: right;
        color: white;
        font-size: 16px;
        background-color: #00B4CF;
        padding: 5px 30px;
        margin-top: 15px;
        margin-right: 20px;
      }
    }
  }

  .main-section6 {
    display: flex;
    height: 170px;
    margin: -10px 10px 20px;
    background-color: white;

    .section6-img {
      display: none;
    }

    .section6-detail {
      width: 100%;
      margin-left: 10px;

      .detail6-url {
        height: 20px;
        margin-top: 10px;

        .url6-text {
          color: deepskyblue;
          margin-left: 2px;
        }
      }

      .detail6-status {
        display: none;
      }

      .detail6-ip {
        height: 20px;
        margin-top: 10px;
      }

      .detail6-location {
        height: 20px;
        margin-top: 10px;
      }

      .detail6-bottom {
        display: flex;
        margin-top: 10px;

        .detail6-browser {
          margin-left: 10px;
        }

        .detail6-line1 {

          .firefox6 {
            @include browser-icon
          }

          .safari6 {
            @include browser-icon
          }
        }

        .detail6-line2 {
          margin-top: 10px;

          .ubuntu6 {
            @include browser-icon
          }

          .chrome6 {
            @include browser-icon
          }
        }
      }

      .deny6 {
        float: right;
        color: white;
        font-size: 16px;
        background-color: #00B4CF;
        padding: 5px 30px;
        margin-top: 15px;
        margin-right: 20px;

      }
    }
  }
}
footer {
  display: flex;
  justify-content: center;
  background-color: $lighter-gray;
}