html {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #E1E4E6;
  height: 90%;
  font-size: 14px;
}

html {
  background-color: #F3F3F3;
}

header {
  display: flex;
  width: 100%;
  background-color: white;
  border: solid 2px lightgray;
  border-bottom: none;
}
header .head_nav {
  margin-top: 30px;
  margin-left: 20px;
}
header .web_head {
  display: flex;
  margin-left: 250px;
}
header .cruise_image {
  display: flex;
  margin-left: 40px;
}
header .user_login {
  display: flex;
  width: 30%;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 10%;
}
header .user_img {
  display: flex;
  margin-left: 150px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

aside {
  display: none;
}

main {
  display: flex;
}
main .main_content {
  width: 100%;
  border: solid 2px lightgray;
  background-color: #E1E4E6;
}
main .main_content .main_header {
  display: flex;
  height: 140px;
  margin-left: 10px;
  margin-right: 10px;
}
main .main_content .main_header .header_status {
  display: flex;
  width: 60%;
}
main .main_content .main_header .building {
  margin-top: 20px;
  height: 100px;
  width: 500px;
  background-color: #FF9A2A;
}
main .main_content .main_header .building .text_building {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
main .main_content .main_header .building .number_building {
  text-align: right;
  margin-bottom: -10px;
  margin-right: 15px;
  font-size: 48px;
  color: white;
}
main .main_content .main_header .idle {
  margin-left: 25px;
  margin-top: 20px;
  height: 100px;
  width: 500px;
  background-color: #7FBC39;
}
main .main_content .main_header .idle .text_idle {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
main .main_content .main_header .idle .number_idle {
  text-align: right;
  margin-bottom: -10px;
  margin-right: 15px;
  font-size: 48px;
  color: white;
}
main .main_content .main_header .statistics {
  display: flex;
  margin-left: 25px;
  margin-top: 20px;
  height: 100px;
  width: 500px;
  background-color: white;
}
main .main_content .main_header .statistics .text_all {
  margin-top: 10px;
  text-align: center;
  width: 135px;
  height: 33px;
  font-size: 12px;
}
main .main_content .main_header .statistics .text_physical {
  text-align: center;
  width: 135px;
  height: 33px;
  font-size: 12px;
}
main .main_content .main_header .statistics .text_virtual {
  text-align: center;
  width: 135px;
  height: 33px;
  font-size: 12px;
}
main .main_content .main_header .statistics .figure_all {
  margin-top: 5px;
  text-align: center;
  width: 135px;
  height: 33px;
  font-size: 20px;
}
main .main_content .main_header .statistics .figure_physical {
  text-align: center;
  width: 135px;
  height: 33px;
  font-size: 20px;
}
main .main_content .main_header .statistics .figure_virtual {
  text-align: center;
  width: 135px;
  height: 33px;
  font-size: 20px;
}
main .main_content .main_nav {
  display: flex;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
main .main_content .main_nav .main_nav_text {
  display: flex;
  width: 335px;
}
main .main_content .main_nav .main_nav_text .all {
  width: 33%;
  border-right: solid lightgrey;
  text-align: center;
  line-height: 50px;
}
main .main_content .main_nav .main_nav_text .physical {
  width: 33%;
  border-right: solid lightgrey;
  text-align: center;
  line-height: 50px;
}
main .main_content .main_nav .main_nav_text .virtual {
  width: 33%;
  border-right: solid lightgrey;
  text-align: center;
  line-height: 50px;
}
main .main_content .main_nav .search {
  position: relative;
  width: 135px;
  height: 20px;
}
main .main_content .main_nav .search input {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  padding-left: 25px;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
  outline: none;
  border: none;
}
main .main_content .main_nav .search i {
  position: relative;
  left: 40px;
  top: 18px;
  z-index: 10;
  color: gray;
}
main .main_content .main_nav .main_button {
  display: none;
  justify-content: right;
  width: 500px;
}
main .main_content .main_nav .main_button .button_left {
  padding-top: 20px;
  padding-bottom: 20px;
}
main .main_content .main_nav .main_button .button_right {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40px;
  text-align: right;
}

.main_section {
  background-color: #E1E4E6;
}
.main_section .main_section1 {
  display: flex;
  height: 100px;
  width: 85%;
  margin-bottom: 20px;
  background-color: white;
  width: 783px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_section .main_section1 .section1_img {
  display: none;
}
.main_section .main_section1 .section1_detail .detail1-top {
  display: flex;
}
.main_section .main_section1 .section1_detail .detail1-top .detail1-url {
  margin-left: 10px;
}
.main_section .main_section1 .section1_detail .detail1-top {
  margin-top: 15px;
}
.main_section .main_section1 .section1_detail .detail1-top .url1-text {
  color: deepskyblue;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  margin-left: 10px;
}
.main_section .main_section1 .section1_detail .detail1-top .detail1-status {
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
  background-color: #7FBC39;
  width: 54px;
}
.main_section .main_section1 .section1_detail .detail1-top .detail1-ip {
  margin-left: 60px;
}
.main_section .main_section1 .section1_detail .detail1-top .detail1-location {
  margin-left: 20px;
}
.main_section .main_section1 .section1_detail .detail1-bottom {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
  margin-left: 10px;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-browser {
  display: flex;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line1 {
  display: flex;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line1 .firefox1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line1 .safari1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line2 {
  display: flex;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line2 .ubuntu1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main_section1 .section1_detail .detail1-bottom .detail1-line2 .chrome1 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 {
  display: flex;
  height: 100px;
  width: 85%;
  margin-bottom: 20px;
  background-color: white;
  width: 783px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_section .main-section2 .section2-img {
  display: none;
}
.main_section .main-section2 .section2-detail .detail2-top {
  display: flex;
}
.main_section .main-section2 .section2-detail .detail2-top .detail2-url {
  margin-left: 10px;
}
.main_section .main-section2 .section2-detail .detail2-top {
  margin-top: 15px;
}
.main_section .main-section2 .section2-detail .detail2-top .url2-text {
  color: deepskyblue;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  margin-left: 10px;
}
.main_section .main-section2 .section2-detail .detail2-top .detail2-status {
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
  background-color: #FF9A2A;
  width: 54px;
}
.main_section .main-section2 .section2-detail .detail2-top .detail2-ip {
  margin-left: 35px;
}
.main_section .main-section2 .section2-detail .detail2-top .detail2-location {
  margin-left: 20px;
}
.main_section .main-section2 .section2-detail .detail2-middle {
  display: flex;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
  margin-left: 10px;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom .detail2-browser {
  display: flex;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom .detail2-line1 {
  display: flex;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom .detail2-line1 .firefox2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom .detail2-line1 .safari2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom .detail2-line2 {
  display: flex;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom .detail2-line2 .ubuntu2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .detail2-middle .detail2-bottom .detail2-line2 .chrome2 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section2 .section2-detail .detail2-middle .deny2 {
  position: absolute;
  right: 250px;
  margin-top: 15px;
  height: 30px;
  width: 100px;
  padding-top: 8px;
  padding-left: 40px;
  color: white;
  font-size: 14px;
  background-color: #00B4CF;
  cursor: pointer;
  right: 50px;
}
.main_section .main-section3 {
  display: flex;
  height: 100px;
  width: 85%;
  margin-bottom: 20px;
  background-color: white;
  width: 783px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_section .main-section3 .section3-img {
  display: none;
}
.main_section .main-section3 .section3-detail .detail3-top {
  display: flex;
}
.main_section .main-section3 .section3-detail .detail3-top .detail3-url {
  margin-left: 10px;
}
.main_section .main-section3 .section3-detail .detail3-top {
  margin-top: 15px;
}
.main_section .main-section3 .section3-detail .detail3-top .url3-text {
  color: deepskyblue;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  margin-left: 10px;
}
.main_section .main-section3 .section3-detail .detail3-top .detail3-status {
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
  background-color: #FF9A2A;
  width: 54px;
}
.main_section .main-section3 .section3-detail .detail3-top .detail3-ip {
  margin-left: 35px;
}
.main_section .main-section3 .section3-detail .detail3-top .detail3-location {
  margin-left: 20px;
}
.main_section .main-section3 .section3-detail .detail3-middle {
  display: flex;
}
.main_section .main-section3 .section3-detail .detail3-middle .detail3-bottom {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
  margin-left: 10px;
}
.main_section .main-section3 .section3-detail .detail3-middle .detail3-bottom .detail3-browser {
  display: flex;
}
.main_section .main-section3 .section3-detail .detail3-middle .detail3-bottom .detail3-line1 {
  display: flex;
}
.main_section .main-section3 .section3-detail .detail3-middle .detail3-bottom .detail3-line1 .firefox3 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section3 .section3-detail .detail3-middle .detail3-bottom .detail3-line1 .safari3 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section3 .section3-detail .detail3-middle .deny3 {
  position: absolute;
  right: 250px;
  margin-top: 15px;
  height: 30px;
  width: 100px;
  padding-top: 8px;
  padding-left: 40px;
  color: white;
  font-size: 14px;
  background-color: #00B4CF;
  cursor: pointer;
  right: 50px;
}
.main_section .main-section4 {
  display: flex;
  height: 100px;
  width: 85%;
  margin-bottom: 20px;
  background-color: white;
  width: 783px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_section .main-section4 .section4-img {
  display: none;
}
.main_section .main-section4 .section4-detail .detail4-top {
  display: flex;
}
.main_section .main-section4 .section4-detail .detail4-top .detail4-url {
  margin-left: 10px;
}
.main_section .main-section4 .section4-detail .detail4-top {
  margin-top: 15px;
}
.main_section .main-section4 .section4-detail .detail4-top .url4-text {
  color: deepskyblue;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  margin-left: 10px;
}
.main_section .main-section4 .section4-detail .detail4-top .detail4-status {
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
  background-color: #FF9A2A;
  width: 54px;
}
.main_section .main-section4 .section4-detail .detail4-top .detail4-ip {
  margin-left: 35px;
}
.main_section .main-section4 .section4-detail .detail4-top .detail4-location {
  margin-left: 20px;
}
.main_section .main-section4 .section4-detail .detail4-middle {
  display: flex;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
  margin-left: 10px;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom .detail4-browser {
  display: flex;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom .detail4-line1 {
  display: flex;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom .detail4-line1 .firefox4 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom .detail4-line1 .safari4 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom .detail4-line2 {
  display: flex;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom .detail4-line2 .ubuntu4 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section4 .section4-detail .detail4-middle .detail4-bottom .detail4-line2 .chrome4 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section4 .section4-detail .detail4-middle .deny4 {
  position: absolute;
  right: 250px;
  margin-top: 15px;
  height: 30px;
  width: 100px;
  padding-top: 8px;
  padding-left: 40px;
  color: white;
  font-size: 14px;
  background-color: #00B4CF;
  cursor: pointer;
  right: 50px;
}
.main_section .main-section5 {
  display: flex;
  height: 100px;
  width: 85%;
  margin-bottom: 20px;
  background-color: white;
  width: 783px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_section .main-section5 .section5-img {
  display: none;
}
.main_section .main-section5 .section5-detail .detail5-top {
  display: flex;
}
.main_section .main-section5 .section5-detail .detail5-top .detail5-url {
  margin-left: 10px;
}
.main_section .main-section5 .section5-detail .detail5-top {
  margin-top: 15px;
}
.main_section .main-section5 .section5-detail .detail5-top .url5-text {
  color: deepskyblue;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  margin-left: 10px;
}
.main_section .main-section5 .section5-detail .detail5-top .detail5-status {
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
  background-color: #7FBC39;
  width: 54px;
}
.main_section .main-section5 .section5-detail .detail5-top .detail5-ip {
  margin-left: 60px;
}
.main_section .main-section5 .section5-detail .detail5-top .detail5-location {
  margin-left: 20px;
}
.main_section .main-section5 .section5-detail .detail5-bottom {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
  margin-left: 10px;
}
.main_section .main-section5 .section5-detail .detail5-bottom .detail5-browser {
  display: flex;
}
.main_section .main-section6 {
  display: flex;
  height: 100px;
  width: 85%;
  margin-bottom: 20px;
  background-color: white;
  width: 783px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_section .main-section6 .section6-img {
  display: none;
}
.main_section .main-section6 .section6-detail .detail6-top {
  display: flex;
}
.main_section .main-section6 .section6-detail .detail6-top .detail6-url {
  margin-left: 10px;
}
.main_section .main-section6 .section6-detail .detail6-top {
  margin-top: 15px;
}
.main_section .main-section6 .section6-detail .detail6-top .url6-text {
  color: deepskyblue;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  margin-left: 10px;
}
.main_section .main-section6 .section6-detail .detail6-top .detail6-status {
  margin-left: 20px;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  font-size: 12px;
  background-color: #7FBC39;
  width: 54px;
}
.main_section .main-section6 .section6-detail .detail6-top .detail6-ip {
  margin-left: 60px;
}
.main_section .main-section6 .section6-detail .detail6-top .detail6-location {
  margin-left: 20px;
}
.main_section .main-section6 .section6-detail .detail6-bottom {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
  margin-left: 10px;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-browser {
  display: flex;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line1 {
  display: flex;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line1 .firefox6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line1 .safari6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line2 {
  display: flex;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line2 .ubuntu6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}
.main_section .main-section6 .section6-detail .detail6-bottom .detail6-line2 .chrome6 {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: #E1E4E6;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
}

/*# sourceMappingURL=tablet-index.css.map */
